# Dataset

https://www.datos.gov.co/Educaci-n/Saber-11-2019-2/ynam-yc42/about_data

Resultados anonimizados de las pruebas de Saber 11 del segundo semestre del año 2019-2

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data\Saber_11__2019-2_20240511.csv")
df.head()

C:\Users\sciti\AppData\Local\Temp\ipykernel_11592\952204102.py:1: DtypeWarning: Columns (76,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data\Saber_11__2019-2_20240511.csv")

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_TIENEETNIA,ESTU_PAIS_RESIDE,ESTU_ETNIA,...,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
0,TI,COLOMBIA,M,02/18/2002 12:00:00 AM,20194,SB11201940031558,ESTUDIANTE,No,COLOMBIA,-,...,54.0,67,A1,208,25,50.9421557404314,2.0,2.0,PUBLICAR,NO
1,TI,COLOMBIA,M,06/28/2003 12:00:00 AM,20194,SB11201940303339,ESTUDIANTE,No,COLOMBIA,-,...,63.0,88,A2,299,83,59.767864431576,3.0,4.0,PUBLICAR,NO
2,TI,COLOMBIA,M,06/02/2001 12:00:00 AM,20194,SB11201940255017,ESTUDIANTE,No,COLOMBIA,-,...,64.0,89,A2,299,84,50.7642383644749,2.0,3.0,PUBLICAR,GENERACION E - GRATUIDAD
3,TI,COLOMBIA,M,04/26/2002 12:00:00 AM,20194,SB11201940154799,ESTUDIANTE,Si,COLOMBIA,Ninguno,...,53.0,67,A1,309,88,45.7791353123516,2.0,3.0,PUBLICAR,GENERACION E - GRATUIDAD
4,TI,COLOMBIA,M,02/05/2002 12:00:00 AM,20194,SB11201940280831,ESTUDIANTE,No,COLOMBIA,-,...,52.0,63,A1,288,78,52.9109464277177,3.0,3.0,PUBLICAR,NO

In [7]:
print(f"El numero de columnas del dataset es de: {len(df.columns)}")
df.info()

El numero de columnas del dataset es de: 82
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546212 entries, 0 to 546211
Data columns (total 82 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   ESTU_TIPODOCUMENTO             546212 non-null  object
 1   ESTU_NACIONALIDAD              546212 non-null  object
 2   ESTU_GENERO                    546212 non-null  object
 3   ESTU_FECHANACIMIENTO           546212 non-null  object
 4   PERIODO                        546212 non-null  int64
 5   ESTU_CONSECUTIVO               546212 non-null  object
 6   ESTU_ESTUDIANTE                546212 non-null  object
 7   ESTU_TIENEETNIA                546212 non-null  object
 8   ESTU_PAIS_RESIDE               546212 non-null  object
 9   ESTU_ETNIA                     546212 non-null  object
 10  ESTU_DEPTO_RESIDE              545835 non-null  object
 11  ESTU_COD_RESIDE_DEPTO          546212 non-null  object
 12  ESTU_MCPIO_RESIDE              545835 non-null  object
 13  ESTU_COD_RESIDE_MCPIO          546212 non-null  object
 14  FAMI_ESTRATOVIVIENDA           546186 non-null  object
 15  FAMI_PERSONASHOGAR             537749 non-null  object
 16  FAMI_CUARTOSHOGAR              539794 non-null  object
 17  FAMI_EDUCACIONPADRE            537920 non-null  object
 18  FAMI_EDUCACIONMADRE            525253 non-null  object
 19  FAMI_TRABAJOLABORPADRE         538081 non-null  object
 20  FAMI_TRABAJOLABORMADRE         538743 non-null  object
 21  FAMI_TIENEINTERNET             537875 non-null  object
 22  FAMI_TIENESERVICIOTV           523932 non-null  object
 23  FAMI_TIENECOMPUTADOR           538027 non-null  object
 24  FAMI_TIENELAVADORA             538569 non-null  object
 25  FAMI_TIENEHORNOMICROOGAS       537582 non-null  object
 26  FAMI_TIENEAUTOMOVIL            538006 non-null  object
 27  FAMI_TIENEMOTOCICLETA          537395 non-null  object
 28  FAMI_TIENECONSOLAVIDEOJUEGOS   538487 non-null  object
 29  FAMI_NUMLIBROS                 537558 non-null  object
 30  FAMI_COMELECHEDERIVADOS        523907 non-null  object
 31  FAMI_COMECARNEPESCADOHUEVO     536587 non-null  object
 32  FAMI_COMECEREALFRUTOSLEGUMBRE  523880 non-null  object
 33  FAMI_SITUACIONECONOMICA        537953 non-null  object
 34  ESTU_DEDICACIONLECTURADIARIA   545585 non-null  object
 35  ESTU_DEDICACIONINTERNET        515914 non-null  object
 36  ESTU_HORASSEMANATRABAJA        545831 non-null  object
 37  ESTU_TIPOREMUNERACION          530704 non-null  object
 38  COLE_CODIGO_ICFES              546212 non-null  int64
 39  COLE_COD_DANE_ESTABLECIMIENTO  546212 non-null  int64
 40  COLE_NOMBRE_ESTABLECIMIENTO    546212 non-null  object
 41  COLE_GENERO                    546212 non-null  object
 42  COLE_NATURALEZA                546212 non-null  object
 43  COLE_CALENDARIO                546212 non-null  object
 44  COLE_BILINGUE                  546212 non-null  object
 45  COLE_CARACTER                  532464 non-null  object
 46  COLE_COD_DANE_SEDE             546212 non-null  int64
 47  COLE_NOMBRE_SEDE               546212 non-null  object
 48  COLE_SEDE_PRINCIPAL            546212 non-null  object
 49  COLE_AREA_UBICACION            546212 non-null  object
 50  COLE_JORNADA                   546212 non-null  object
 51  COLE_COD_MCPIO_UBICACION       546212 non-null  int64
 52  COLE_MCPIO_UBICACION           546212 non-null  object
 53  COLE_COD_DEPTO_UBICACION       546212 non-null  int64
 54  COLE_DEPTO_UBICACION           546212 non-null  object
 55  ESTU_PRIVADO_LIBERTAD          546212 non-null  object
 56  ESTU_COD_MCPIO_PRESENTACION    546212 non-null  int64
 57  ESTU_MCPIO_PRESENTACION        546212 non-null  object
 58  ESTU_DEPTO_PRESENTACION        546212 non-null  object
 59  ESTU_COD_DEPTO_PRESENTACION    546212 non-null  int64
 60  PUNT_LECTURA_CRITICA           546212 non-null  int64
 61  PERCENTIL_LECTURA_CRITICA      546212 non-null  int64
 62  DESEMP_LECTURA_CRITICA         546212 non-null  int64
 63  PUNT_MATEMATICAS               546212 non-null  int64
 64  PERCENTIL_MATEMATICAS          546212 non-null  int64
 65  DESEMP_MATEMATICAS             546212 non-null  int64
 66  PUNT_C_NATURALES               546212 non-null  int64
 67  PERCENTIL_C_NATURALES          546212 non-null  int64
 68  DESEMP_C_NATURALES             546212 non-null  int64
 69  PUNT_SOCIALES_CIUDADANAS       546212 non-null  int64
 70  PERCENTIL_SOCIALES_CIUDADANAS  546212 non-null  int64
 71  DESEMP_SOCIALES_CIUDADANAS     546212 non-null  int64
 72  PUNT_INGLES                    546193 non-null  float64
 73  PERCENTIL_INGLES               546212 non-null  int64
 74  DESEMP_INGLES                  546212 non-null  object
 75  PUNT_GLOBAL                    546212 non-null  int64
 76  PERCENTIL_GLOBAL               546212 non-null  object
 77  ESTU_INSE_INDIVIDUAL           546208 non-null  object
 78  ESTU_NSE_INDIVIDUAL            529171 non-null  object
 79  ESTU_NSE_ESTABLECIMIENTO       546168 non-null  float64
 80  ESTU_ESTADOINVESTIGACION       546212 non-null  object
 81  ESTU_GENERACION-E              546212 non-null  object
dtypes: float64(2), int64(22), object(58)
memory usage: 341.7+ MB